In [60]:
import pandas as pd

In [61]:
df = pd.read_csv('modified_iphone13_reviews.csv')

In [62]:
month_mapping = {
    1: 'Aug',
    2: 'Jul',
    3: 'Jun',
    4: 'May',
    5: 'Apr',
    6: 'Mar',
    7: 'Feb',
    8: 'Jan',
    9: 'Dec',
    10: 'Nov',
    11: 'Oct',
    12: 'Sep'
}

In [63]:
def convert_months_ago(months_ago):
    try:
        # Split the input into month and year
        parts = months_ago.split(' ')
        month = month_mapping.get(int(parts[0].strip()))
        # print(month)
        year = 2023
        if(int(parts[0].strip())>8):
            year = 2022

        # year = 2023
        
        # Convert to a valid date format (the 1st day of the month)
        date = pd.to_datetime(f'01-{month}-{year}', format='%d-%b-%Y')
        return date.strftime('%b, %Y')
    except (ValueError, IndexError):
        # Handle invalid date strings here
        return 'Invalid Date'

In [64]:
df['Processed_Date'] = df['Reviews'].apply(lambda x: convert_months_ago(x) if 'ago' in x else x)

In [65]:
df[df['Processed_Date']=='Invalid Date']

          Reviews  Ratings Processed_Date
413   25 days ago      5.0   Invalid Date
542   30 days ago      5.0   Invalid Date
795   16 days ago      5.0   Invalid Date
796   19 days ago      5.0   Invalid Date
797   19 days ago      5.0   Invalid Date
...           ...      ...            ...
6066  21 days ago      5.0   Invalid Date
6070  22 days ago      5.0   Invalid Date
6081  26 days ago      5.0   Invalid Date
6089  29 days ago      5.0   Invalid Date
6090  30 days ago      5.0   Invalid Date

[78 rows x 3 columns]

In [66]:
df.loc[df['Processed_Date'] == 'Invalid Date', 'Processed_Date'] = 'Sep, 2023'

In [67]:
df

            Reviews  Ratings Processed_Date
0     11 months ago      5.0      Oct, 2022
1     11 months ago      5.0      Oct, 2022
2         Jun, 2022      5.0      Jun, 2022
3         Nov, 2021      5.0      Nov, 2021
4         Apr, 2022      5.0      Apr, 2022
...             ...      ...            ...
6178  11 months ago      5.0      Oct, 2022
6179  11 months ago      5.0      Oct, 2022
6180  11 months ago      5.0      Oct, 2022
6181    1 month ago      5.0      Aug, 2023
6182  11 months ago      1.0      Oct, 2022

[6183 rows x 3 columns]

In [68]:
df['Processed_Date'] = pd.to_datetime(df['Processed_Date'], format='%b, %Y')

In [69]:
df = df.sort_values(by='Processed_Date')

In [70]:
df.reset_index(drop=True, inplace=True)

In [71]:
df.to_csv('sorted_file.csv', index=False)